table {
  width: 85%;
  margin: 30px auto;
  border-collapse: collapse;
  background: var(--card);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 12px 24px rgba(0,0,0,0.06);
}

th {
  background: var(--primary);
  color: white;
  padding: 14px;
}

td {
  padding: 12px;
  text-align: center;
  color: var(--text-soft);
}

tr:nth-child(even) {
  background: #F1F5F9;
}

tr:hover {
  background: #E0E7FF;
}
